.confirmPark {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background-color: var(--color-white);
  	overflow: hidden;
  	text-align: left;
  	font-size: 48px;
  	color: var(--color-whitesmoke);
  	font-family: var(--font-inter);
}
.button {
  	position: absolute;
  	top: 862px;
  	left: 1033px;
  	border-radius: 8px;
  	background-color: var(--color-gray-200);
  	border: 1px solid var(--color-gray-200);
  	box-sizing: border-box;
  	width: 333px;
  	height: 103px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
  	cursor: pointer;
}
.button2 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 120%;
}
.panelImageContent {
  	position: absolute;
  	top: 195px;
  	left: 120px;
  	background-color: var(--color-white);
  	width: 1200px;
  	display: flex;
  	align-items: center;
  	padding: 64px;
  	box-sizing: border-box;
  	gap: 48px;
  	opacity: 0.8;
  	font-size: 24px;
  	color: var(--color-gray-300);
}
.imageIcon {
  	height: 350px;
  	width: 484px;
  	object-fit: cover;
}
.textContentFlow {
  	height: 351px;
  	width: 484px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
  	min-width: 300px;
}
.textContentHeading {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.heading {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	font-weight: 600;
}
.subheading {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	line-height: 120%;
  	color: var(--color-gray-100);
}
.text {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	font-size: 16px;
}
.text2 {
  	flex: 1;
  	position: relative;
  	line-height: 140%;
}
.text3 {
  	align-self: stretch;
  	height: 198px;
  	display: flex;
  	align-items: flex-start;
}

