.login {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: white;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #666;
  font-family: Arial, sans-serif;
}
.csusmParking {
  position: absolute;
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 64px;
  font-family: serif;
  color: black;
  text-align: center;
  display: inline-block;
  width: 590px;
  height: 129px;
}
.forgotPassword {
  position: absolute;
  top: 884px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  text-decoration: underline;
  color: black;
  text-align: center;
}
.inputField {
  position: absolute;
  top: 337px;
  left: 50%;
  transform: translateX(-50%);
  width: 583px;
  height: 106px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.label {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: bold;
}
.input {
  align-self: stretch;
  flex: 1;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  min-width: 240px;
  font-size: 32px;
}
.value {
  flex: 1;
  position: relative;
  line-height: 120%;
  border: none;
  outline: none;
  font-size: 32px;
}
.inputField2 {
  position: absolute;
  top: 498px;
  left: 50%;
  transform: translateX(-50%);
  width: 583px;
  height: 106px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.headerAuth {
  position: absolute;
  top: 724px;
  left: 50%;
  transform: translateX(-50%);
  width: 371px;
  height: 142px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 48px;
}
.button {
  flex: 1;
  border-radius: 8px;
  background-color: #f0f0f0;
  border: 1px solid #999;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
}
.button2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.button3 {
  flex: 1;
  border-radius: 8px;
  background-color: #666;
  border: 1px solid #666;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: white;
  cursor: pointer;
}
.button4 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  flex-shrink: 0;
}