.login {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background-color: var(--color-white);
  	overflow: hidden;
  	text-align: left;
  	font-size: var(--fs-16);
  	color: var(--color-gray-300);
  	font-family: var(--font-inter);
}
.csusmParking {
  	position: absolute;
  	top: 59px;
  	left: 425px;
  	font-size: 64px;
  	font-family: var(--font-hanuman);
  	color: var(--color-black);
  	text-align: center;
  	display: inline-block;
  	width: 590px;
  	height: 129px;
}
.forgotPassword {
  	position: absolute;
  	top: 884px;
  	left: 584px;
  	font-size: var(--fs-32);
  	text-decoration: underline;
  	color: var(--color-black);
  	text-align: center;
}
.inputField {
  	position: absolute;
  	top: 337px;
  	left: 425px;
  	width: 583px;
  	height: 106px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: var(--gap-8);
}
.label {
  	align-self: stretch;
  	position: relative;
  	line-height: 140%;
}
.input {
  	align-self: stretch;
  	flex: 1;
  	border-radius: var(--br-8);
  	background-color: var(--color-white);
  	border: 1px solid var(--color-gainsboro-200);
  	box-sizing: border-box;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	padding: var(--padding-12) var(--padding-16);
  	min-width: 240px;
  	font-size: var(--fs-32);
}
.value {
  	flex: 1;
  	position: relative;
  	line-height: 120%;
}
.inputField2 {
  	position: absolute;
  	top: 498px;
  	left: 425px;
  	width: 583px;
  	height: 106px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: var(--gap-8);
}
.headerAuth {
  	position: absolute;
  	top: 724px;
  	left: 534px;
  	width: 371px;
  	height: 142px;
  	display: flex;
  	align-items: center;
  	gap: 12px;
  	font-size: var(--fs-48);
}
.button {
  	flex: 1;
  	border-radius: var(--br-8);
  	background-color: var(--color-gainsboro-100);
  	border: 1px solid var(--color-gray-100);
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: var(--padding-8);
}
.button2 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 120%;
}
.button3 {
  	flex: 1;
  	border-radius: var(--br-8);
  	background-color: var(--color-gray-200);
  	border: 1px solid var(--color-gray-200);
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: var(--padding-8);
  	color: var(--color-whitesmoke);
}
.button4 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	flex-shrink: 0;
}

